@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

// Colors
$primary: #FDFDFC;
$primary-97: #F9F8F6;
$primary-94: #EFEFEF;
$primary-66: #A8A8A8;
$secondary: #2E2B2E;
$accent: #FFD141;

// Fonts
$font-crimson: "Crimson Pro", serif;

// font-size
$heading-1: clamp(3.8rem, calc(3.8rem + ((1vw - 0.4rem) * 2.75)), 6rem);
$heading-m: clamp(2.8rem, calc(2.8rem + ((1vw - 0.4rem) * 0.875)), 3.5rem);
$heading-s: clamp(2.4rem, calc(2.4rem + ((1vw - 0.4rem) * 0.6768)), 2.8rem);

$text-m: clamp(1.6rem, calc(1.6rem + ((1vw - 0.4rem) * 0.3384)), 1.8rem);
$text-l: clamp(1.8rem, calc(1.8rem + ((1vw - 0.4rem) * 0.3384)), 2rem);

// Document setup
$gutter: clamp(2rem, calc(2rem + ((1vw - 0.4rem) * 1.25)), 3rem);
$max-width: 1290px;
$min-width: 320px;

$space-xs: clamp(1rem, calc(1rem + ((1vw - 0.4rem) * 0.75)), 1.6rem);
$space-s: clamp(1.2rem, calc(1.2rem + ((1vw - 0.4rem) * 1.5)), 2.4rem);
$space-m: clamp(2rem, calc(2rem + ((1vw - 0.4rem) * 1.25)), 3rem);
$space-l: clamp(2.8rem, calc(2.8rem + ((1vw - 0.4rem) * 1.3536)), 3.6rem);

// border radius
$radius-m: 1.5rem;
$radius-l: 3rem;
$radius-full: 100%;

// General Mixins
@mixin flexDisplay($direction, $wrap, $gap: 0, $display: flex) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin gridDisplay($gap: 0, $columns: 1fr, $display: grid) {
  display: $display;
  grid-template-columns: $columns;
  grid-gap: $gap;
}

// Partials imports
@import 'layout';
@import 'components';
@import 'mediaQueries';

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-crimson;
}

h1 {  
  font-size: $heading-1;
  color: $secondary
}

p {
  font-size: $text-l;
}

input {
  background: none;
  border: none;
}

button {
  border: 1px transparent;
}
  
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
  